<div class="footer">
    <ul>
        <li style="margin-top: 10px;"><%= link_to "Inicio", root_path %></li>
        <li style="margin-top: 10px;"><%= link_to "Nosotros", nosotros_index_path %></li>
        <li style="margin-top: 10px;"><%= link_to "Servicio", servicio_index_path %></a></li>
        <li style="margin-top: 10px;"><%= link_to "Contáctenos", contacto_index_path %></a></li>
    </ul>
</div>