<div class="ladoizquierdo">
    <form>
        <label for="">DEPARTAMENTO</label>
        <input type="text" style="width: 200px;" name="" value="Lima"/>
        <label for="">DISTRITO</label>
        <select style="width: 210px;">
            <option>Selecciona distrito</option>
            <option>San Isidro</option>
            <option>La Victoria</option>
        </select>
        <div style="text-align: right;padding-top: 10px;">
            <%= link_to 'Buscar', locales_index_path, class: "link_to" %>
        </div>
    </form>
</div>
