<div class="ladoizquierdo">
    <form>
        <h3 style="margin-left: 15px;height: 5px;">INICIAR SESIÓN</h3>
        <div class="marco">
            <label for="">USUARIO</label>
            <input type="text" style="width: 160px;" name="" value=""/>
            <label for="">CONTRASEÑA</label>
            <input type="password" style="width: 160px;" name="" value=""/>
            <div style="text-align: center; padding-top: 10px;">
                <table cellspacing="20">
                    <tr>
                        <td>
                            <%= link_to 'Ingresar', "#", class: "link_to" %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= link_to 'Registrar', registrousuario_index_path, class: "link_to" %>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</div>
