<div id="cuerpo" class="cuerpo">
    <h1 style="margin:0px 20px 10px;">Bienvenido</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <div>
        <div class="bloque">
            <div class="bloquecomida">
                <div><%= link_to (image_tag "food/food1.jpg", width:"100%"), localmenu_index_path %></a></div>
                <p><span class="tex1">Food1</span><span class="tex2">S/.13.00</span></p>
            </div>
            <div class="bloquecomida">
                <div><%= link_to (image_tag "food/food2.jpg", width:"100%"), localmenu_index_path %></a></div>
                <p><span class="tex1">Food2</span><span class="tex2">S/.10.00</span></p>
            </div>
        </div>
    </div>
</div>
