<div class="footer">
    <ul>
        <li style="margin-top: 10px;"><a href="#" onclick="cargar('#cuerpo', 'inicio.html')">Inicio</a></li>
        <li style="margin-top: 10px;"><a href="#" onclick="cargar('#cuerpo', 'nosotros.html')">Nosotros</a></li>
        <li style="margin-top: 10px;"><a href="#" onclick="cargar('#cuerpo', 'servicio.html')">Servicio</a></a></li>
        <li style="margin-top: 10px;"><a href="#" onclick="cargar('#cuerpo', 'contactenos.html')">Contáctenos</a></a></li>
    </ul>
</div>