<header>
    <nav style="position: relative;">
        <div class="linkusuario">
            <a href="#" onclick="cargar('#cuerpo', 'perfil.html')">
                >> Nombre Usuario
            </a>
        </div>
        <ul>
            <li><a href="#" onclick="cargar('#cuerpo', 'index.html.erb')">INICIO</a></li>
            <li><a href="#" onclick="cargar('#cuerpo', 'nosotros.html.erb')">NOSOTROS</a></li>
            <li style="margin-top: 10px;"><a href="#" onclick="cargar('#cuerpo', 'index.html.erb')"><%= image_tag "logo.png" %></a></li>
            <li><a href="#" onclick="cargar('#cuerpo', 'servicio.html.erb')">SERVICIO</a></a></li>
            <li><a href="#" onclick="cargar('#cuerpo', 'contactenos.html.erb')">CONTACTENOS</a></a></li>
        </ul>
    </nav>
</header>