<div class="contenedor">
    <div class="ladoizquierdo">
        <form>
            <label for="">DEPARTAMENTO</label>
            <input type="text" style="width: 200px;" name="" value="Lima"/>
            <label for="">DISTRITO</label>
            <select style="width: 210px;">
                <option>Selecciona distrito</option>
                <option>San Isidro</option>
                <option>La Victoria</option>
            </select>
            <div style="text-align: right;">
                <input type="button" value="Buscar" name="" onclick="cargar('#cuerpo', 'locales.html')"/>
            </div>
        </form>
        <form>
            <h3 style="margin-left: 15px;height: 5px;">INICIAR SESIÓN</h3>
            <div class="marco">
                <label for="">USUARIO</label>
                <input type="text" style="width: 160px;" name="" value=""/>
                <label for="">CONTRASEÑA</label>
                <input type="password" style="width: 160px;" name="" value=""/>
                <div style="text-align: center; padding-top: 10px;">
                    <input type="button" value="Ingresar" name=""/>
                    <input type="button" value="Registrate" name="" onclick="cargar('#cuerpo', 'registro-usuario.html')"/>
                </div>
            </div>
        </form>
    </div>
</div>