<h1 style="margin:0px 20px 10px;">Administrar Local</h1>
<hr>
<div style="margin: 15px 50px 10px 50px;">
    <div id="dialogo" class="modal-box" style="top: 339px; left: 382px;">
        <header style="width:303px;">
            <a href="#" class="js-modal-close close">×</a>
            <h3>Mensaje</h3>
        </header>
        <div class="modal-body">
            <p>Grabación exitosa.</p>
        </div>
        <footer><a href="#" class="js-modal-close botonahref">Cerrar</a></footer>
    </div>
    <table width="100%" cellspacing="15">
        <tr>
            <td width="130px"><label for="">Razón Social</label></td>     
            <td width="480px"><input size="30" type="text" name="" value="" style="width: 400px;"/></td> 
        </tr>
        <tr>
            <td width="130px"><label for="">RUC</label></td>     
            <td width="480px"><input size="30" type="text" name="" value="" style="width: 200px;"/></td>
        </tr>
        <tr>
            <td width="130px"><label for="">Correo</label></td>     
            <td width="480px"><input size="30" type="text" name="" value="" style="width: 400px;"/></td> 
        </tr>
        <tr>
            <td width="130px"><label for="">Password</label></td>     
            <td width="480px"><input size="30" type="password" name="" value="" style="width: 200px;"/></td> 
        </tr>
    </table>
    <table width="100%" style="margin-bottom: 15px;">
        <tr height="40">
            <th style="background-color: #799839; color:#fff;" width="45%">DIRECCION</th>
            <th style="background-color: #799839; color:#fff;" width="25%">DISTRITO</th>
            <th style="background-color: #799839; color:#fff;" width="15%">TELÉFONO</th>
            <th colspan="2" style="background-color: #799839; color:#fff;">&nbsp;</th>
        </tr>
        <tr>
            <td style="background-color :#E1EACC; font-size:14px;">&nbsp;</td>
            <td style="background-color :#E1EACC; font-size:14px;">&nbsp;</td>
            <td align="center" style="background-color :#E1EACC; font-size:14px;">&nbsp;</td>
            <td align="center" style="background-color :#E1EACC; font-size:14px;"><a href=""><img src="/img/edit.jpg"></a></td>
            <td align="center" style="background-color :#E1EACC; font-size:14px;"><a href=""><img src="/img/delete.jpg"></a></td>
        </tr>
        <tr>
            <td style="background-color :#E1EACC; font-size:14px;">&nbsp;</td>
            <td style="background-color :#E1EACC; font-size:14px;">&nbsp;</td>
            <td align="center" style="background-color :#E1EACC; font-size:14px;">&nbsp;</td>
            <td align="center" style="background-color :#E1EACC; font-size:14px;"><a href=""><img src="/img/edit.jpg"></a></td>
            <td align="center" style="background-color :#E1EACC; font-size:14px;"><a href=""><img src="/img/delete.jpg"></a></td>
        </tr>
        <tr>
            <td style="background-color :#E1EACC; font-size:14px;">&nbsp;</td>
            <td style="background-color :#E1EACC; font-size:14px;">&nbsp;</td>
            <td align="center" style="background-color :#E1EACC; font-size:14px;">&nbsp;</td>
            <td align="center" style="background-color :#E1EACC; font-size:14px;"><a href=""><img src="/img/edit.jpg"></a></td>
            <td align="center" style="background-color :#E1EACC; font-size:14px;"><a href=""><img src="/img/delete.jpg"></a></td>
        </tr>
    </table>
    <table width="40%" style="margin:auto;">
        <tr>
            <td align="center" width="15%"><a href="#" class="js-open-modal botonahref" data-modal-id="dialogo" style="width: 100px;">Grabar</a></td>
        </tr>
    </table>
</div>
<script>
    $(function(){
        var appendthis = ("<div class='modal-overlay js-modal-close'></div>");
        $('a[data-modal-id]').click(function(e) {
    		e.preventDefault();
            $("body").append(appendthis);
            $(".modal-overlay").fadeTo(500, 0.7);
            //$(".js-modalbox").fadeIn(500);
        	var modalBox = $(this).attr('data-modal-id');
        	$('#'+modalBox).fadeIn($(this).data());
        });  
        	
        $(".js-modal-close, .modal-overlay").click(function() {
            $(".modal-box, .modal-overlay").fadeOut(500, function() {
                $(".modal-overlay").remove();
            });
        });
        
        $(window).resize(function() {
            $(".modal-box").css({
                top: ($(window).height() - $(".modal-box").outerHeight()) / 2,
                left: ($(window).width() - $(".modal-box").outerWidth()) / 2
            });
        });
        
        $(window).resize();
    });
</script>