<h1 style="margin:0px 20px 10px;">Restaurantes encontrados</h1>
<hr>
<div style="margin: 15px 30px 30px 20px;">
    <div class="bloque">
        <div class="imagenrestaurant" style="margin: 20px 0 20px 20px;"><a href="#" onclick="cargar('#cuerpo', 'local.html')"><img src="img/rest1.jpg" alt="" width="100%"></a></div>
        <div class="detallerestaurant" style="width: 450px;margin: 15px 0px 10px 20px;">
            <h4>Nombre del loca</h4>
            <p>Dirección</p>
            <p>Teléfono</p>
            <p>Correo electrónico</p>
            <div style="text-align: right;">
                <a href="#" class="botonahref" onclick="cargar('#cuerpo', 'local.html')">Ver menú</a>
            </div>
        </div>
    </div>
    <div class="bloque">
        <div class="imagenrestaurant" style="margin: 20px 0 20px 20px;"><a href="#" onclick="cargar('#cuerpo', 'local.html')"><img src="img/rest1.jpg" alt="" width="100%"></a></div>
        <div class="detallerestaurant" style="width: 450px;margin: 15px 0px 10px 20px;">
            <h4>Nombre del loca</h4>
            <p>Dirección</p>
            <p>Teléfono</p>
            <p>Correo electrónico</p>
            <div style="text-align: right;">
                <a href="#" class="botonahref" onclick="cargar('#cuerpo', 'local.html')">Ver menú</a>
            </div>
        </div>
    </div>
    <div class="bloque">
        <div class="imagenrestaurant" style="margin: 20px 0 20px 20px;"><a href="#" onclick="cargar('#cuerpo', 'local.html')"><img src="img/rest1.jpg" alt="" width="100%"></a></div>
        <div class="detallerestaurant" style="width: 450px;margin: 15px 0px 10px 20px;">
            <h4>Nombre del loca</h4>
            <p>Dirección</p>
            <p>Teléfono</p>
            <p>Correo electrónico</p>
            <div style="text-align: right;">
                <a href="#" class="botonahref" onclick="cargar('#cuerpo', 'local.html')">Ver menú</a>
            </div>
        </div>
    </div>
    <div class="bloque" style="border-bottom: 0px;">
        <div class="imagenrestaurant" style="margin: 20px 0 20px 20px;"><a href="#" onclick="cargar('#cuerpo', 'local.html')"><img src="img/rest1.jpg" alt="" width="100%"></a></div>
        <div class="detallerestaurant" style="width: 450px;margin: 15px 0px 10px 20px;">
            <h4>Nombre del loca</h4>
            <p>Dirección</p>
            <p>Teléfono</p>
            <p>Correo electrónico</p>
            <div style="text-align: right;">
                <a href="#" class="botonahref" onclick="cargar('#cuerpo', 'local.html')">Ver menú</a>
            </div>
        </div>
    </div>
</div>
