<h1 style="margin:0px 20px 10px;">Consolidado del Pedido</h1>
<hr>
<div style="margin: 15px 30px 0px 30px;">
    <div id="dialogo" class="modal-box" style="top: 339px; left: 382px;">
        <header style="width:303px;">
            <a href="#" class="js-modal-close close">×</a>
            <h3>Mensaje</h3>
        </header>
        <div class="modal-body">
            <p>Grabación exitosa.</p>
        </div>
        <footer><a href="#" class="js-modal-close botonahref">Cerrar</a></footer>
    </div>                        
    <div>
        <table width="100%">
            <tr height="30px">
                <th style="background-color:#799839;color:#fff;font-size: 16px;width: 280px;">PEDIDO</th>
                <th style="background-color:#799839;color:#fff;font-size: 16px;width: 60px;">CANTIDAD</th>
                <th style="background-color:#799839;color:#fff;font-size: 16px;width: 60px;">PRECIO</th>
                <th style="background-color:#799839;color:#fff;font-size: 16px;width: 60px;">TOTAL</th>
            <tr height="30">
                <td style="background-color:#748A37;color:#fff;">Entrada</td>
                <td style="background-color:#748A37;color:#fff;"></td>
                <td style="background-color:#748A37;color:#fff;"></td>
                <td style="background-color:#748A37;color:#fff;"></td>
            </tr>
            <tr>
                <td style="background-color:#E1EACC;font-size:14px;">E1) Chicharrón de pollo c/yuquitas... </td>
                <td align="center" style="background-color:#E1EACC;font-size:14px;">
                    <input type="text" name="" value="1" style="width:20px; text-align:center;"/>
                </td>
                <td align="center" style="background-color:#E1EACC;font-size:14px;">S/. 6.00</td>
                <td align="center" style="background-color:#E1EACC;font-size:14px;">S/. 6.00</td>
            </tr>
            <tr>
                <td style="background-color:#E1EACC;font-size:14px;">E2) Sopa de menestron </td>
                <td align="center" style="background-color:#E1EACC;font-size:14px;">
                    <input type="text" name="" value="1" style="width:20px; text-align:center;"/>
                </td>
                <td align="center" style="background-color:#E1EACC;font-size:14px;">S/. 6.00</td>
                <td align="center" style="background-color:#E1EACC;font-size:14px;">S/. 6.00</td>
            </tr>
            <tr>
                <td style="background-color:#E1EACC;font-size:14px;">E3) Causa de pollo </td>
                <td align="center" style="background-color:#E1EACC;font-size:14px;">
                    <input type="text" name="" value="1" style="width:20px; text-align:center;"/>
                </td>
                <td align="center" style="background-color:#E1EACC;font-size:14px;">S/. 6.00</td>
                <td align="center" style="background-color:#E1EACC;font-size:14px;">S/. 6.00</td>
            </tr>
            <tr height="30">
                <td style="background-color:#748A37;color:#fff;">Segundos</td>
                <td style="background-color:#748A37;color:#fff;"></td>
                <td style="background-color:#748A37;color:#fff;"></td>
                <td style="background-color:#748A37;color:#fff;"></td>
            </tr>
            <tr>
                <td style="background-color:#E1EACC;font-size:14px;">S1) Seco de res a la norteña c/frejoles</td>
                <td align="center" style="background-color:#E1EACC;font-size:14px;">
                    <input type="text" name="" value="1" style="width:20px; text-align:center;"/>
                </td>
                <td align="center" style="background-color:#E1EACC;font-size:14px;">S/. 8.50 </td>
                <td align="center" style="background-color:#E1EACC;font-size:14px;">S/. 8.50 </td>
            </tr>
            <tr>
                <td style="background-color:#E1EACC;font-size:14px;">S2) Pollo dorado c/papas fritas y ensalada</td>
                <td align="center" style="background-color:#E1EACC;font-size:14px;">
                    <input type="text" name="" value="1" style="width:20px; text-align:center;"/>
                </td>
                <td align="center" style="background-color:#E1EACC;font-size:14px;">S/. 8.50 </td>
                <td align="center" style="background-color:#E1EACC;font-size:14px;">S/. 8.50 </td>
            </tr>
            <tr height="30">
                <td style="background-color:#748A37;color:#fff;">Total de entradas</td>
                <td align="center" style="background-color:#748A37;color:#fff;">3</td>
                <td style="background-color:#748A37;color:#fff;"></td>
                <td style="background-color:#748A37;color:#fff;"></td>
            </tr>    
            <tr height="30">
                <td style="background-color:#748A37;color:#fff;">Total de segundos</td>
                <td align="center" style="background-color:#748A37;color:#fff;">2</td>
                <td style="background-color:#748A37;color:#fff;"></td>
                <td style="background-color:#748A37;color:#fff;"></td>
            </tr> 
            <tr height="30" >
                <td colspan="3" style="background-color:#748A37;color:#fff;">Total</td>
                <td align="center" style="background-color:#748A37;color:#fff;">S/.35.00</td>
            </tr> 
        </table>
        <form name="data_entry" id="data_entry_frm" action="#">
            <div>
                <table width="100%" cellspacing="15">
                    <tr>
                        <td width="15%">
                            <label for="">Nombre</label>
                        </td>     
                        <td width="85%">
                            <input size="30" type="text" style="width: 490px;" name="" value=""/>
                        </td> 
                    </tr>
                    <tr>
                        <td>
                            <label for="">Correo</label>
                        </td>     
                        <td>
                            <input size="30"  type="text" style="width: 490px;" name="" value=""/>
                        </td> 
                    </tr>
                    <tr>
                        <td>
                            <label for="">Dirección</label>
                        </td>     
                        <td>
                            <input size="30" type="text" style="width: 490px;" name="" value=""/>
                        </td> 
                    </tr>
                    <tr>
                        <td>
                            <label for="">Distrito</label>
                        </td>     
                        <td>
                            <select style="width: 250px;">
                                <option select>Selecciona distrito</option>
                                <option>San Isidro</option>
                                <option>La Victoria</option>
                            </select>
                        </td>     
                    </tr>
                </table>
            </div>
            <div style="margin-bottom: 10px;">
                <table width="40%" style="margin:auto;">
                    <tr>
                        <td width="120px" height="35px" align="right">
                            <a href="#" class="js-open-modal botonahref" data-modal-id="dialogo" style="width: 100px;">Grabar</a>
                        </td>
                        <td width="10%"> </td>
                        <td width="120px" height="35px" align="right">
                            <input type="button" name="" value="Limpiar" onclick="clearForm(this.form);"/>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>
<script>
    $(function(){
        var appendthis = ("<div class='modal-overlay js-modal-close'></div>");
        $('a[data-modal-id]').click(function(e) {
    		e.preventDefault();
            $("body").append(appendthis);
            $(".modal-overlay").fadeTo(500, 0.7);
            //$(".js-modalbox").fadeIn(500);
        	var modalBox = $(this).attr('data-modal-id');
        	$('#'+modalBox).fadeIn($(this).data());
        });  
        	
        $(".js-modal-close, .modal-overlay").click(function() {
            $(".modal-box, .modal-overlay").fadeOut(500, function() {
                $(".modal-overlay").remove();
            });
        });
        
        $(window).resize(function() {
            $(".modal-box").css({
                top: ($(window).height() - $(".modal-box").outerHeight()) / 2,
                left: ($(window).width() - $(".modal-box").outerWidth()) / 2
            });
        });
        
        $(window).resize();
    });
</script>