<h1 style="margin:0px 20px 10px;">Pedidos del Día</h1>
<hr>
<div style="margin: 15px 30px 0px 30px;">
    <div id="dialogo" class="modal-box" style="top: 339px; left: 382px;">
        <header style="width:303px;">
            <a href="#" class="js-modal-close close">×</a>
            <h3>Mensaje</h3>
        </header>
        <div class="modal-body">
            <p>Grabación exitosa.</p>
        </div>
        <footer><a href="#" class="js-modal-close botonahref">Cerrar</a></footer>
    </div>                        
    <div>
        <form name="data_entry" id="data_entry_frm" action="#">
            <table width="100%">
                <tr height="30px">
                    <th style="background-color:#799839;color:#fff;font-size: 16px;width: 280px;">PEDIDO</th>
                    <th style="background-color:#799839;color:#fff;font-size: 16px;width: 60px;">CANTIDAD</th>
                    <th style="background-color:#799839;color:#fff;font-size: 16px;width: 60px;">V°B°</th>
                <tr height="25">
                    <td colspan="3" style="background-color: #E1EACC;font-size:14px;">&nbsp;Juan Pérez</td>
                </tr>
                <tr>
                    <td style="background-color:#F0F8FF;font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;E1) Chicharrón de pollo c/yuquitas</td>
                    <td align="center" style="background-color:#F0F8FF;font-size:14px;">1</td>
                    <td align="center" style="background-color:#F0F8FF;font-size:14px;">
                        <input type="checkbox" name=mybox value="1" style="float: none;">
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#F0F8FF;font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;E2) Sopa de menestron</td>
                    <td align="center" style="background-color:#F0F8FF;font-size:14px;">1</td>
                    <td align="center" style="background-color:#F0F8FF;font-size:14px;">
                        <input type="checkbox" name=mybox value="1" style="float: none;">
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#F0F8FF;font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;E3) Causa de pollo</td>
                    <td align="center" style="background-color:#F0F8FF;font-size:14px;">1</td>
                    <td align="center" style="background-color:#F0F8FF;font-size:14px;">
                        <input type="checkbox" name=mybox value="1" style="float: none;">
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#F0F8FF;font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;S1) Seco de res a la norteña c/frejoles</td>
                    <td align="center" style="background-color:#F0F8FF;font-size:14px;">1</td>
                    <td align="center" style="background-color:#F0F8FF;font-size:14px;">
                        <input type="checkbox" name=mybox value="1" style="float: none;">
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#F0F8FF;font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;S2) Pollo dorado c/papas fritas y ensalada</td>
                    <td align="center" style="background-color:#F0F8FF;font-size:14px;">1</td>
                    <td align="center" style="background-color:#F0F8FF;font-size:14px;">
                        <input type="checkbox" name=mybox value="1" style="float: none;">
                    </td>
                </tr>
                <tr height="25">
                    <td colspan="3" style="background-color: #E1EACC;font-size:14px;">&nbsp;María Valverde</td>
                </tr>
                <tr>
                    <td style="background-color:#F0F8FF;font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;E1) Chicharrón de pollo c/yuquitas</td>
                    <td align="center" style="background-color:#F0F8FF;font-size:14px;">1</td>
                    <td align="center" style="background-color:#F0F8FF;font-size:14px;">
                        <input type="checkbox" name=mybox value="1" style="float: none;">
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#F0F8FF;font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;E2) Sopa de menestron</td>
                    <td align="center" style="background-color:#F0F8FF;font-size:14px;">1</td>
                    <td align="center" style="background-color:#F0F8FF;font-size:14px;">
                        <input type="checkbox" name=mybox value="1" style="float: none;">
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#F0F8FF;font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;E3) Causa de pollo</td>
                    <td align="center" style="background-color:#F0F8FF;font-size:14px;">1</td>
                    <td align="center" style="background-color:#F0F8FF;font-size:14px;">
                        <input type="checkbox" name=mybox value="1" style="float: none;">
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#F0F8FF;font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;S1) Seco de res a la norteña c/frejoles</td>
                    <td align="center" style="background-color:#F0F8FF;font-size:14px;">1</td>
                    <td align="center" style="background-color:#F0F8FF;font-size:14px;">
                        <input type="checkbox" name=mybox value="1" style="float: none;">
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#F0F8FF;font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;S2) Pollo dorado c/papas fritas y ensalada</td>
                    <td align="center" style="background-color:#F0F8FF;font-size:14px;">1</td>
                    <td align="center" style="background-color:#F0F8FF;font-size:14px;">
                        <input type="checkbox" name=mybox value="1" style="float: none;">
                    </td>
                </tr>
                <tr height="25">
                    <td colspan="3" style="background-color: #E1EACC;font-size:14px;">&nbsp;Juan Espejos</td>
                </tr>
                <tr>
                    <td style="background-color:#F0F8FF;font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;E1) Chicharrón de pollo c/yuquitas</td>
                    <td align="center" style="background-color:#F0F8FF;font-size:14px;">1</td>
                    <td align="center" style="background-color:#F0F8FF;font-size:14px;">
                        <input type="checkbox" name=mybox value="1" style="float: none;">
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#F0F8FF;font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;E2) Sopa de menestron</td>
                    <td align="center" style="background-color:#F0F8FF;font-size:14px;">1</td>
                    <td align="center" style="background-color:#F0F8FF;font-size:14px;">
                        <input type="checkbox" name=mybox value="1" style="float: none;">
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#F0F8FF;font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;E3) Causa de pollo</td>
                    <td align="center" style="background-color:#F0F8FF;font-size:14px;">1</td>
                    <td align="center" style="background-color:#F0F8FF;font-size:14px;">
                        <input type="checkbox" name=mybox value="1" style="float: none;">
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#F0F8FF;font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;S1) Seco de res a la norteña c/frejoles</td>
                    <td align="center" style="background-color:#F0F8FF;font-size:14px;">1</td>
                    <td align="center" style="background-color:#F0F8FF;font-size:14px;">
                        <input type="checkbox" name=mybox value="1" style="float: none;">
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#F0F8FF;font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;S2) Pollo dorado c/papas fritas y ensalada</td>
                    <td align="center" style="background-color:#F0F8FF;font-size:14px;">1</td>
                    <td align="center" style="background-color:#F0F8FF;font-size:14px;">
                        <input type="checkbox" name=mybox value="1" style="float: none;">
                    </td>
                </tr>
            </table>
            <div style="margin-bottom: 10px;">
                <table width="40%" style="margin:auto;">
                    <tr>
                        <td width="120px" height="35px" align="center">
                            <a href="#" class="js-open-modal botonahref" data-modal-id="dialogo" style="width: 100px;">Grabar</a>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>
<script>
    $(function(){
        var appendthis = ("<div class='modal-overlay js-modal-close'></div>");
        $('a[data-modal-id]').click(function(e) {
    		e.preventDefault();
            $("body").append(appendthis);
            $(".modal-overlay").fadeTo(500, 0.7);
            //$(".js-modalbox").fadeIn(500);
        	var modalBox = $(this).attr('data-modal-id');
        	$('#'+modalBox).fadeIn($(this).data());
        });  
        	
        $(".js-modal-close, .modal-overlay").click(function() {
            $(".modal-box, .modal-overlay").fadeOut(500, function() {
                $(".modal-overlay").remove();
            });
        });
        
        $(window).resize(function() {
            $(".modal-box").css({
                top: ($(window).height() - $(".modal-box").outerHeight()) / 2,
                left: ($(window).width() - $(".modal-box").outerWidth()) / 2
            });
        });
        
        $(window).resize();
    });
</script>