<h1 style="margin:0px 20px 10px;">Hola {Nombre}</h1>
<hr>
<div style="margin: 15px 30px 0px 30px;">
    <div id="dialogo" class="modal-box">
        <header style="width:303px;">
            <a href="#" class="js-modal-close close">×</a>
                <h3>Mensaje</h3>
        </header>
        <div class="modal-body">
            <p>Grabación exitosa.</p>
        </div>
        <footer><a href="#" class="js-modal-close botonahref">Cerrar</a></footer>
    </div>
	<section class="tabs">
        <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked" />
        <label for="tab-1" class="tab-label-1">Datos Generales</label>
        <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" />
        <label for="tab-2" class="tab-label-2">Pedido del Día</label>
        <input id="tab-3" type="radio" name="radio-set" class="tab-selector-3" />
        <label for="tab-3" class="tab-label-3">Historial Pedidos</label>
	    <div class="clear-shadow"></div>
        <div class="perfil">
            <div class="perfil-1">
                <form name="data_entry" id="data_entry_frm" action="#">
                    <table>
                        <tr>
                            <td>
                                <div class="bloqueregistrousuario">
                                    <table width="100%" style="border-spacing: 0px 15px;">
                                        <tr>
                                            <td width="15%">
                                                <label class="label" for="">Nombre</label>
                                            </td>     
                                            <td width="85%">
                                                <input class="inputtext" size="30" type="text" style="width: 280px" name="" value=""/>
                                            </td> 
                                        </tr>
                                        <tr>
                                            <td width="15%">
                                                <label class="label" for="">Usuario</label>
                                            </td>     
                                            <td width="85%">
                                                <input class="inputtext" size="30" type="text" style="width: 280px" name="" value=""/>
                                            </td> 
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="label" for="">Correo</label>
                                            </td>     
                                            <td>
                                                <input class="inputtext" size="30"  type="text" style="width: 280px" name="" value=""/>
                                            </td> 
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="label" for="">Dirección</label>
                                            </td>     
                                            <td>
                                                <input class="inputtext" size="30" type="text" style="width: 280px" name="" value=""/>
                                            </td> 
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="label" for="">Distrito</label>
                                            </td>     
                                            <td>
                                                <select style="width: 290px" >
                                                    <option select>Selecciona distrito</option>
                                                    <option>San Isidro</option>
                                                    <option>La Victoria</option>
                                                </select>
                                            </td>     
                                        </tr>
                                        <tr>
                                            <td width="15%">
                                                <label class="label" for="">Contraseña</label>
                                            </td>     
                                            <td width="85%">
                                                <input class="inputtext" size="30" type="password" name="" value="" style="width:150px;"/>
                                            </td> 
                                        </tr>
                                        <tr>
                                            <td width="15%">
                                                <label class="label" for="">Confirmar contraseña</label>
                                            </td>     
                                            <td width="85%">
                                                <input class="inputtext" size="30" type="password" name="" value="" style="width:150px;"/>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                            <td>
                                <div class="bloquefotousuario">
                                    <div>
                                        <a href="#">
                                            <img src="img/avatar.jpg" width="100%">
                                        </a>
                                    </div>
                                    <div class="fotousuario">
                                        <input type="button" class="inputbutton" name="" value="Cargar Foto"/>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div style="margin-bottom: 10px;">
                                    <table width="40%" style="margin:auto;">
                                        <tr>
                                            <td width="120px" height="35px" align="right">
                                                <a href="#" class="js-open-modal botonahref" data-modal-id="dialogo" style="width: 100px;">Grabar</a>
                                            </td>
                                            <td width="10%"> </td>
                                            <td width="120px" height="35px" align="right">
                                                <input type="button" class="inputbutton" name="" value="Limpiar" onclick="clearForm(this.form);"/>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
		    </div>
	        <div class="perfil-2">
                <div style="margin-top: 20px;">
                    <table width="100%">
                        <tr height="30px">
                            <th style="background-color:#799839;color:#fff;font-size: 16px;width: 380px;">PEDIDO</th>
                            <th style="background-color:#799839;color:#fff;font-size: 16px;width: 80px;">CANTIDAD</th>
                            <th style="background-color:#799839;color:#fff;font-size: 16px;width: 80px;">PRECIO</th>
                            <th style="background-color:#799839;color:#fff;font-size: 16px;width: 80px;">TOTAL</th>
                        </tr>
                        <tr height="30">
                            <td style="background-color:#748A37;color:#fff;">Entrada</td>
                            <td style="background-color:#748A37;color:#fff;"></td>
                            <td style="background-color:#748A37;color:#fff;"></td>
                            <td style="background-color:#748A37;color:#fff;"></td>
                        </tr>
                        <tr>
                            <td style="background-color:#E1EACC;font-size:14px;">E1) Chicharrón de pollo c/yuquitas... </td>
                            <td align="center" style="background-color:#E1EACC;font-size:14px;">
                                <input type="text" class="inputtext" name="" value="1" style="width:20px; text-align:center;"/>
                            </td>
                            <td align="center" style="background-color:#E1EACC;font-size:14px;">S/. 6.00</td>
                            <td align="center" style="background-color:#E1EACC;font-size:14px;">S/. 6.00</td>
                        </tr>
                        <tr>
                            <td style="background-color:#E1EACC;font-size:14px;">E2) Sopa de menestron </td>
                            <td align="center" style="background-color:#E1EACC;font-size:14px;">
                                <input type="text" class="inputtext" name="" value="1" style="width:20px; text-align:center;"/>
                            </td>
                            <td align="center" style="background-color:#E1EACC;font-size:14px;">S/. 6.00</td>
                            <td align="center" style="background-color:#E1EACC;font-size:14px;">S/. 6.00</td>
                        </tr>
                        <tr>
                            <td style="background-color:#E1EACC;font-size:14px;">E3) Causa de pollo </td>
                            <td align="center" style="background-color:#E1EACC;font-size:14px;">
                                <input type="text" class="inputtext" name="" value="1" style="width:20px; text-align:center;"/>
                            </td>
                            <td align="center" style="background-color:#E1EACC;font-size:14px;">S/. 6.00</td>
                            <td align="center" style="background-color:#E1EACC;font-size:14px;">S/. 6.00</td>
                        </tr>
                        <tr height="30">
                            <td style="background-color:#748A37;color:#fff;">Segundos</td>
                            <td style="background-color:#748A37;color:#fff;"></td>
                            <td style="background-color:#748A37;color:#fff;"></td>
                            <td style="background-color:#748A37;color:#fff;"></td>
                        </tr>
                        <tr>
                            <td style="background-color:#E1EACC;font-size:14px;">S1) Seco de res a la norteña c/frejoles</td>
                            <td align="center" style="background-color:#E1EACC;font-size:14px;">
                                <input type="text" class="inputtext" name="" value="1" style="width:20px; text-align:center;"/>
                            </td>
                            <td align="center" style="background-color:#E1EACC;font-size:14px;">S/. 8.50 </td>
                            <td align="center" style="background-color:#E1EACC;font-size:14px;">S/. 8.50 </td>
                        </tr>
                        <tr>
                            <td style="background-color:#E1EACC;font-size:14px;">S2) Pollo dorado c/papas fritas y ensalada</td>
                            <td align="center" style="background-color:#E1EACC;font-size:14px;">
                                <input type="text" class="inputtext" name="" value="1" style="width:20px; text-align:center;"/>
                            </td>
                            <td align="center" style="background-color:#E1EACC;font-size:14px;">S/. 8.50 </td>
                            <td align="center" style="background-color:#E1EACC;font-size:14px;">S/. 8.50 </td>
                        </tr>
                        <tr height="30">
                            <td style="background-color:#748A37;color:#fff;">Total de entradas</td>
                            <td align="center" style="background-color:#748A37;color:#fff;">3</td>
                            <td style="background-color:#748A37;color:#fff;"></td>
                            <td style="background-color:#748A37;color:#fff;"></td>
                        </tr>    
                        <tr height="30">
                            <td style="background-color:#748A37;color:#fff;">Total de segundos</td>
                            <td align="center" style="background-color:#748A37;color:#fff;">2</td>
                            <td style="background-color:#748A37;color:#fff;"></td>
                            <td style="background-color:#748A37;color:#fff;"></td>
                        </tr> 
                        <tr height="30" >
                            <td colspan="3" style="background-color:#748A37;color:#fff;">Total</td>
                            <td align="center" style="background-color:#748A37;color:#fff;">S/.35.00</td>
                        </tr> 
                    </table>
                </div>
		    </div>
	        <div class="perfil-3">
                <div>
                    <div style="padding-left: 20px;">
                        <table cellspacing="15">
                            <tr>
                                <td>
                                    <p>Fecha Inicial</p>
                                </td>
                                <td>
                                    <input class="inputtext" size="30" type="date" name="" id="fechainicial" style="width:130px;"/>
                                </td>
                                <td>
                                    <p>Fecha Final</p>
                                </td>
                                <td>
                                    <input class="inputtext" size="30" type="date" name="" id="fechafinal" style="width:130px;"/>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <input type="radio" name="opcion" value="detallado" checked>Detallado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="opcion" value="resumido">Resumido
                                </td>
                            </tr>
                        </table>
                    </div>
                    <table width="100%">
                        <tr height="30px">
                            <th style="background-color:#799839;color:#fff;font-size: 16px;width: 120px;">FECHA</th>
                            <th style="background-color:#799839;color:#fff;font-size: 16px;width: 450px;">RESTAURANT</th>
                            <th style="background-color:#799839;color:#fff;font-size: 16px;width: 150px;">TOTAL</th>
                        </tr>
                        <tr style="height: 25px;">
                            <td align="center" style="background-color:#E1EACC;font-size:14px;">01/05/2015</td>
                            <td style="background-color:#E1EACC;font-size:14px;">Papa John's</td>
                            <td align="center" style="background-color:#E1EACC;font-size:14px;">S/. 35.00</td>
                        </tr>
                        <tr style="height: 25px;">
                            <td align="center" style="background-color:#F0F8FF;font-size:14px;">01/05/2015</td>
                            <td style="background-color:#F0F8FF;font-size:14px;">Rokys</td>
                            <td align="center" style="background-color:#F0F8FF;font-size:14px;">S/. 35.00</td>
                        </tr>
                        <tr style="height: 25px;">
                            <td align="center" style="background-color:#E1EACC;font-size:14px;">01/05/2015</td>
                            <td style="background-color:#E1EACC;font-size:14px;">Pa que mas Perú</td>
                            <td align="center" style="background-color:#E1EACC;font-size:14px;">S/. 35.00</td>
                        </tr>
                        <tr style="height: 25px;">
                            <td align="center" style="background-color:#F0F8FF;font-size:14px;">01/05/2015</td>
                            <td style="background-color:#F0F8FF;font-size:14px;">Popeyes</td>
                             <td align="center" style="background-color:#F0F8FF;font-size:14px;">S/. 35.00</td>
                        </tr>
                        <tr style="height: 25px;">
                            <td align="center" style="background-color:#E1EACC;font-size:14px;">01/05/2015</td>
                            <td style="background-color:#E1EACC;font-size:14px;">Las canastas</td>
                            <td align="center" style="background-color:#E1EACC;font-size:14px;">S/. 35.00</td>
                        </tr>
                        <tr style="height: 25px;">
                            <td align="center" style="background-color:#F0F8FF;font-size:14px;">01/05/2015</td>
                            <td style="background-color:#F0F8FF;font-size:14px;">Popeyes</td>
                            <td align="center" style="background-color:#F0F8FF;font-size:14px;">S/. 35.00</td>
                        </tr>
                        <tr style="height: 25px;">
                            <td align="center" style="background-color:#E1EACC;font-size:14px;">01/05/2015</td>
                            <td style="background-color:#E1EACC;font-size:14px;">Las canastas</td>
                            <td align="center" style="background-color:#E1EACC;font-size:14px;">S/. 35.00</td>
                        </tr>
                        <tr height="30" >
                            <td colspan="2" style="background-color:#748A37;color:#fff;">Total</td>
                            <td align="center" style="background-color:#748A37;color:#fff;">S/. 175.00</td>
                        </tr> 
                    </table>
                </div>
		    </div>
        </div>
	</section>
</div>
<script>
    $(function(){
        var appendthis = ("<div class='modal-overlay js-modal-close'></div>");
        $('a[data-modal-id]').click(function(e) {
    		e.preventDefault();
            $("body").append(appendthis);
            $(".modal-overlay").fadeTo(500, 0.7);
            //$(".js-modalbox").fadeIn(500);
        	var modalBox = $(this).attr('data-modal-id');
        	$('#'+modalBox).fadeIn($(this).data());
        });  
        	
        $(".js-modal-close, .modal-overlay").click(function() {
            $(".modal-box, .modal-overlay").fadeOut(500, function() {
                $(".modal-overlay").remove();
            });
        });
        
        $(window).resize(function() {
            $(".modal-box").css({
                top: ($(window).height() - $(".modal-box").outerHeight()) / 2,
                left: ($(window).width() - $(".modal-box").outerWidth()) / 2
            });
        });
        
        $(window).resize();
    });
</script>
<script id="jsbin-javascript">
    var date = new Date();
    var day = date.getDate();
    var month = date.getMonth() + 1;
    var year = date.getFullYear();
    if (month < 10)
        month = "0" + month;
    if (day < 10)
        day = "0" + day;
    var today = year + "-" + month + "-" + day;
    $("#fechainicial").attr("value", today);
    $("#fechafinal").attr("value", today);
</script>