<h1 style="margin:0px 20px 10px;">Regístrate</h1>
<hr>
<div style="margin: 15px 30px 0px 30px;">
    <div id="dialogo" class="modal-box">
        <header style="width:303px;">
            <a href="#" class="js-modal-close close">×</a>
                <h3>Mensaje</h3>
        </header>
        <div class="modal-body">
            <p>Grabación exitosa.</p>
        </div>
        <footer><a href="#" class="js-modal-close botonahref">Cerrar</a></footer>
    </div>
    <form name="data_entry" id="data_entry_frm" action="#">
        <table>
            <tr>
                <td>
                    <div class="bloqueregistrousuario">
                        <table width="100%" style="border-spacing: 0px 15px;">
                            <tr>
                                <td width="15%">
                                    <label for="">Nombre</label>
                                </td>     
                                <td width="85%">
                                    <input size="30" type="text" style="width: 280px" name="" value=""/>
                                </td> 
                            </tr>
                            <tr>
                                <td>
                                    <label for="">Dirección</label>
                                </td>     
                                <td>
                                    <input size="30" type="text" style="width: 280px" name="" value=""/>
                                </td> 
                            </tr>
                            <tr>
                                <td>
                                    <label for="">Distrito</label>
                                </td>     
                                <td>
                                    <select style="width: 290px" >
                                        <option select>Selecciona distrito</option>
                                        <option>San Isidro</option>
                                        <option>La Victoria</option>
                                    </select>
                                </td>     
                            </tr>
                            <tr>
                                <td>
                                    <label for="">Correo</label>
                                </td>     
                                <td>
                                    <input size="30"  type="text" style="width: 280px" name="" value=""/>
                                </td> 
                            </tr>
                            <tr>
                                <td width="15%">
                                    <label for="">Teléfono</label>
                                </td>     
                                <td width="85%">
                                    <input size="30" type="text" name="" value="" style="width:150px;"/>
                                </td> 
                            </tr>
                            <tr>
                                <td width="15%">
                                    <label for="">Contraseña</label>
                                </td>     
                                <td width="85%">
                                    <input size="30" type="password" name="" value="" style="width:150px;"/>
                                </td> 
                            </tr>
                            <tr>
                                <td width="15%">
                                    <label for="">Confirmar contraseña</label>
                                </td>     
                                <td width="85%">
                                    <input size="30" type="password" name="" value="" style="width:150px;"/>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td>
                    <div class="bloquefotousuario">
                        <div>
                            <a href="#">
                                <img src="img/avatar.jpg" width="100%">
                            </a>
                        </div>
                        <div class="fotousuario">
                            <input type="button" name="" value="Cargar Foto"/>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="margin-bottom: 10px;">
                        <table width="40%" style="margin:auto;">
                            <tr>
                                <td width="120px" height="35px" align="right">
                                    <a href="#" class="js-open-modal botonahref" data-modal-id="dialogo" style="width: 100px;">Grabar</a>
                                </td>
                                <td width="10%"> </td>
                                <td width="120px" height="35px" align="right">
                                    <input type="button" name="" value="Limpiar" onclick="clearForm(this.form);"/>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
    $(function(){
        var appendthis = ("<div class='modal-overlay js-modal-close'></div>");
        $('a[data-modal-id]').click(function(e) {
    		e.preventDefault();
            $("body").append(appendthis);
            $(".modal-overlay").fadeTo(500, 0.7);
            //$(".js-modalbox").fadeIn(500);
        	var modalBox = $(this).attr('data-modal-id');
        	$('#'+modalBox).fadeIn($(this).data());
        });  
        	
        $(".js-modal-close, .modal-overlay").click(function() {
            $(".modal-box, .modal-overlay").fadeOut(500, function() {
                $(".modal-overlay").remove();
            });
        });
        
        $(window).resize(function() {
            $(".modal-box").css({
                top: ($(window).height() - $(".modal-box").outerHeight()) / 2,
                left: ($(window).width() - $(".modal-box").outerWidth()) / 2
            });
        });
        
        $(window).resize();
    });
</script>
